div.cluster {
  border: 1px solid darkgray;
  padding: 0;
  margin: 10px 0;
  font-weight: bolder;
  border-radius: 15px 15px 0 0;
}

div.clusterName {
  background-color: #eed5b7;
  padding: 10px;
  font-size: 16pt;
  border-radius: 15px 15px 0 0;
}

div.clusterChart {
  padding: 20px;
}

div.clusterChart div.label{
  padding: 10px;
  background-color: #4682B4;
  color: #ffffff;
  border-radius: 15px 15px 0 0;
}

div.hostsChart {
  background-color: #cceeff;
  padding: 20px;
}

span.host {
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 12pt;
}

span.comment {
  border-radius: 5px;
}

div.header {
    position: fixed;
    height: 65px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ccc;
    border-bottom: 1px solid #aaa;
    padding: 5px;
    z-index: 6;
}

div.time, div.comment {
    padding: 3px;
}

div.stateColorLabel, div.mountColorLabel, div.stateColor, div.mountColor {
    position: absolute;
    top: 30px;
}

div.stateColorLabel, div.mountColorLabel {
    background-color: #4682B4;
    color: #ffffff;
    padding: 5px 50px 5px 10px;
    border-radius: 10px 0 0 10px;
}

div.mountColorLabel {
    left: 500px;
}

div.stateColor, div.mountColor {
    padding: 5px;
    background-color: #E0FFFF;
    border-radius: 0 10px 10px 0;
}

div.stateColor {
    left: 90px;
}

div.mountColor {
    left: 580px;
}

div.time {
    font-weight: bolder;
    font-size: 9pt;
}

div.charts {
    position: relative;
    top: 80px;
}
